<a href="https://colab.research.google.com/github/srinijasriram/2216166_AIML_BootCamp_2023/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#string methods
s="    Hello    "
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.strip())

    HELLO
    hello
    hELLO
Hello

In [29]:
#list methods
l=[1,2,3,4]
print(l)
#appending
l.append(5)
print(l)
#reversing
l.reverse()
print(l)
#count a item
print(l.count(3))
#sorting
l.sort()
print(l)
#dir(list)
#pop -- removing
l.pop()
print(l)
#removing
l.remove(2)
print(l)
#inserting at specified index
l.insert(0,7)
print(l)
#index
print(l.index(3))

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
1
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 3, 4]
[7, 1, 3, 4]
2

In [28]:
#tuple
#dir(tuple)
t=(1,2,3,5)
print(t.count(3))
print(t.index(3))

1
2

In [39]:
#dictionary

d={1:'one','two':2,3:3}
d1={}
d1=d.copy()
print(d1)
print(d.get(3))
print(d.items())
print(d.keys())
print(d.values())
d.update({2:'two'})
print(d)

{1: 'one', 'two': 2, 3: 3}
3
dict_items([(1, 'one'), ('two', 2), (3, 3)])
dict_keys([1, 'two', 3])
dict_values(['one', 2, 3])
{1: 'one', 'two': 2, 3: 3, 2: 'two'}

In [48]:
#set
dir(set)
s={1,2,3,4}
print(s)
#set add method
s.add(5)
print(s)
#copy
s1=s.copy()
print(s1)
#add
s1.add(6)
# s union s1
print(s.union(s1))
#s intersection s1
print(s.intersection(s1))
#s1 difference s
print(s1.difference(s))
# discard
s.discard(2)
print(s)
#pop
s.pop()
print(s)
#remove
s.remove(3)
print(s)
#update
s.update('8')
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{6}
{1, 3, 4, 5}
{3, 4, 5}
{4, 5}
{4, 5, '8'}

In [22]:
# decimal to binary
a=3
print(bin(a))
#decimal to octal
print(oct(a))
#decimal to hexadecimal
print(hex(a))

0b11
0o3
0x3

In [4]:
#Arithmetic operators
a=8
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

12
4
32
2.0
2
4096
0

In [6]:
#assignment operators
a=10
b=5
c=a+b
c-=a
print(c)

5

In [5]:
#comparision operators
a=3
b=5
print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)
print(a<b)
print(a>b)
print(a<<b)
print(a>>b)

False
True
False
True
True
False
96
0

In [7]:
#logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is:",x or y)
print("not y is:", not y)

x and y is: False
x or y is: True
not y is: True

In [8]:
#bitwise operators

a=13 #0000 1101
b=14 #0000 1110

print(a&b) #and
print(a|b) #or
print(~a) #not
print(a^b) #xor
print(a>>2) #right shift
print(a<<2) #left shift

12
15
-14
3
3
52

In [9]:
#membership operators in, not in
a="hello"
print("o" in a)
print("x" not in a)

True
True

In [10]:
#identity operators is, is not
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [12]:
#demonstrating negative indexing for list and apply slicing to list
l=[1,2,3,4]
print(l[::-1]) #it prints in reverse order of list
print(l[-1::-2]) #it prints the list in reverse order with step value as 2 i.e., 4,2

[4, 3, 2, 1]
[4, 2]

In [14]:
print('A series of characters designated as one object known as string'[::-1][4::3]) # after reversing the string [4::3] slicing is applied
print("----------------")
print('Welcome to python program'[3:10][::-1]) # for [3:10] which is "come to " [::-1]slicing is applied

tsnntj oaens eahfsr
----------------
ot emoc

In [16]:
p_phrase="was it a car or a cat I saw"
print(p_phrase[::-1].upper()) #prints WAS I TAC A RO RAC A TI SAW

WAS I TAC A RO RAC A TI SAW

In [19]:
#zoo
x=2
y=2*x
print('z'*x+'o'*y) # output is zzoooo
x=5
y=2*x
print('z'*x+'o'*y) #output is zzzzzoooooooooo

zzoooo
zzzzzoooooooooo