<a href="https://colab.research.google.com/github/srinijasriram/2216166_AIML_BootCamp_2023/blob/main/Boot_camp_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#decision making

#if statement
a=100
if a>0:
  print("simple if")
  print("TRUE")
  print(a)

#if else statements
if a>0:
  print("if else")
  print("TRUE")
  print(a)
else:
  print("FAlSE")

#nested if statements
print("nested if")
age=int(input("enter the age"))
if age>18:
  if age<60:
    print("age is less than 60")
  print("age is greater thane 18")
else:
  print("age is less than 18")

#if ladder
a=2
b=3
c=1
if a>b and a>c:
  print("a is large")
elif b>a and b>c:
  print("b is large")
elif c>a and c>b:
  print("c is large")

simple if
TRUE
100
if else
TRUE
100
nested if
enter the age4
age is less than 18
b is large

In [ ]:
#loops
n=[1,2,3,4,5,6,7,8,9,10]
#for loop   it does not check the condition but known no.of iteration
for i in n:
  print(i)
sum=0
for i in n:
  sum+=i
print("the sum is ",sum)

1
2
3
4
5
6
7
8
9
10
the sum is  55

In [ ]:
#while loop   it checks the condition to iterate
n=10
i=1
while(i<10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
#nested for loop
a=[[1,2,3],[4,5,6],[7,8,9]]
b=[[1,2,3],[4,5,6],[7,8,9]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range(3):
    res[i][j]=a[i][j]+b[i][j]
print(res)
for i in res:
  print(i)

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]
[2, 4, 6]
[8, 10, 12]
[14, 16, 18]

In [ ]:
#nested while loop
n=int(input("enter until which table do you need"))
i=1
while(i<=n):
  print("the table {}".format(i))
  j=1
  while(j<=10):
    print("{}*{}={}".format(i,j,i*j))
    j+=1
  i+=1

enter until which table do you need5
the table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
the table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
the table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
the table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
the table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
#loop control statements
#break,continue,pass

#break
for i in range(10):
  if i==5:
    break
  print(i)
print("-------------")
#continue
for i in range(10):
  if i==5:
    continue
  print(i)
#pass
for i in range(10):
  if i==5:
    pass
  print("it is not pass condition")

0
1
2
3
4
-------------
0
1
2
3
4
6
7
8
9
it is not pass condition
it is not pass condition
it is not pass condition
it is not pass condition
it is not pass condition
it is not pass condition
it is not pass condition
it is not pass condition
it is not pass condition
it is not pass condition

In [17]:
#functions
def greet(s):
  print("hello "+s)
greet("srinija")

hello srinija

In [18]:
#defalut
def default(a,b=1,c=3):
  print(a+b+c)
default(1,2,3)
default(4)

6
8

In [19]:
#keyword
def key(a,b,c):
  print(a+b+c)
key(a=2,b=4,c=5)
key(c=2,b=5,a=1)

11
8

In [21]:
#positional
def pos(a,b,c):
  print(a+b+c)
pos(1,2,3)

6

In [22]:
#arbitrary positional
def arpos(*n):
  print(n)
arpos(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [23]:
#arbitrary keyword
def arkey(**k):
  return k
d=arkey(apples=30,banana=20,cherries=10)
print(d['apples'])
print(d)

30
{'apples': 30, 'banana': 20, 'cherries': 10}

In [24]:
#higher order function
def upp(text):
  return text.upper()
def low(text):
  return text.lower()
def ex(func):
  print(func("hII,HelLO"))
ex(upp)
ex(low)

HII,HELLO
hii,hello