<a href="https://colab.research.google.com/github/srinijasriram/2216166_AIML_BootCamp_2023/blob/main/Boot_camp_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#operators
a=3
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

7
-1
12
0.75
0
81
3

In [ ]:
#comparision
a==b
a<=b
a>=b
a!=b
a<b
a>b
a<<b
a>>b

0

In [ ]:
#assignment operators
a=10
b=5
c=a+b
c-=a
print(c)

5

In [ ]:
#logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is:",x or y)
print("not y is:", not y)

x and y is: False
x or y is: True
not y is: True

In [ ]:
#bitwise operators

a=13 #0000 1101
b=14 #0000 1110

print(a&b) #and
print(a|b) #or
print(~a) #not
print(a^b) #xor
print(a>>2) #right shift
print(a<<2) #left shift

12
15
-14
3
3
52

In [ ]:
#membership operators in, not in
a="hello"
print("o" in a)
print("x" not in a)

True
True

In [ ]:
#identity operators is, is not
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [ ]:
#input
a=int(input("enter a number"))
print(a)
b=input("enter string")
print(b)

enter a number4
4
enter stringhello
hello

In [ ]:
#string is sequence of characters
str="Gradsteller"
#indexing
print(str[0])
print(str[-1])

G
r

In [ ]:
#slicing
#[from:to(n-1):step]
print(str[0:7:2])

Gase

In [ ]:
#reverse of a string
print(str[::-1])

relletsdarG

In [ ]:
#string methods
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
s="    Hello    "
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.strip())

    HELLO
    hello
    hELLO
Hello

In [ ]:
#string operation
s1="world"
print(s+s1)
print(s*2)

    Hello    world
    Hello        Hello

In [ ]:
#string formate
name="srinija"
language="python"
year=2023
print(name,"is learning ",language,"programming in ",year)
#format
print("{} is learning {} programming in {}".format(name,language,year))
#place holder %
print("%s is learning %s programming in %d"%(name,language,year))
# rawstring f
print(f"{name} is learning {language} programming in {year}")

srinija is learning  python programming in  2023
srinija is learning python programming in 2023
srinija is learning python programming in 2023
srinija is learning python programming in 2023

In [ ]:
#list
l=[1,2,3,4]
l1=[1,"hello",7.8]
l2=["apple","banana","mango"]
#indexing
print(l[0])
print(l1[-1])

#slicing
print(l2[:2])

#nested list
l3=[1,2,3,[1,"hello",7.8,["apple","banana","mango"]]]
l4=[l1,l,l2,l3]
print(l4)
l5=["dragonfruit",l,l1]
print(l5)
print(l5[0][0:6])
print(l5[2][1][:1])

1
7.8
['apple', 'banana']
[[1, 'hello', 7.8], [1, 2, 3, 4], ['apple', 'banana', 'mango'], [1, 2, 3, [1, 'hello', 7.8, ['apple', 'banana', 'mango']]]]
['dragonfruit', [1, 2, 3, 4], [1, 'hello', 7.8]]
dragon
h

In [ ]:
#list methods
l.append(5)
print(l)
print(l.count(5))
print(l[::-1])
l.reverse()
print(l)
l.sort()
print(l)
#dir(list)

[1, 2, 3, 4, 5, 5, 5]
3
[5, 5, 5, 4, 3, 2, 1]
[5, 5, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 5, 5]